@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    margin-top: 20vh;
}

/* Custom scroll bar css */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgb(11, 202, 40);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 202, 40);
    box-shadow: 0 0 10px rgba(11, 202, 40);
}

/*navbar styling*/
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.logo span{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 20px rgb(11, 202, 40);
}
.hamburg{
    position: absolute;
    color: white;
    right: 30px;
    top: 23px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    font-size:clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
.cancel{
    position: absolute;
    color: white;
    right: 15px;
    top: 10px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    font-size:clamp(2rem, 0.5rem + 5vw, 3rem);
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    display: inline-block;
    z-index: 0; 
    color: white;
    font-size: 1.2rem;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    padding: 5px 12px;
    border-radius: 12px;
    transition:
      color .3s ease,
      transform .3s ease; 
}

.nav-container .links a::before{
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 3px;
    background: rgb(11, 202, 40);
    bottom: -3px;
    /* transition: 0.2s linear; */
    transition: width .3s linear;
    z-index: 1;
}
.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a::after{
  content: '';
  position: absolute;
  inset: 0;                   
  border-radius: 12px;
  background: rgba(255,255,255,.08);  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;                   
  transition: opacity .3s ease;
  pointer-events: none;       
  z-index: -1;  
}

.nav-container .links a:hover{
  color: rgb(11,202,40);     
  transform: scale(1.1);       
}
.nav-container .links a:hover::after{
  opacity: 1;                  
}

.dropdown{
  position: absolute;
  top: 20px;            
  right: 15px;         
  width: 240px;       
  transform: translateY(-120%);  
  background: rgba(0, 0, 0, 0.7);

  /* Safari */
  -webkit-backdrop-filter: blur(20px) brightness(20%);
  /* Chrome/Edge/Firefox */
  backdrop-filter:        blur(20px) brightness(20%);
  box-shadow: 0 6px 18px rgba(0,0,0,.6);

  border-radius: 12px;
  transition: all 0.25s ease;
}

.dropdown.active {
  transform: translateY(0);
}

.dropdown .links{
  display: flex;
  flex-direction: column;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 14px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: rgb(11, 202, 40);
}

section{
    width: 100%;
    min-height: 90vh;
    scroll-margin-top: 15vh;
}

section .main-container{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    align-items: center;
}
.main-container .image{
    width: 600px;
    height: 65vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(11, 202, 40);
}

.main-container .image img {
    width: 100%;     
    height: 100%;
    object-fit: cover; 
}


.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.main-container .content{
    width: 40%;
    color: white;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 10px rgb(11, 202, 40);
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 10px rgb(11, 202, 40);
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(11, 202, 40);
    border-radius: 50%;
    color: rgb(11, 202, 40);
    margin: 5px 15px;
    font-size: 1.5rem;
    /* transition: 0.2s linear; */
    transition: 
    background-color 0.3s ease, 
    transform 0.3s ease, 
    color 0.3s ease;

}

.social-links:hover {
  background-color: rgb(11, 202, 40);  
  transform: scale(1.1);              
  color: black;                       
}
.social-links i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links:hover i {
  transform: scale(1.2);
}

.content button{
    width: 50%;
    height: 5vh;
    margin: 30px;
    background-color: rgb(11, 202, 40);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s;
}

.content button:hover{
    scale: 1.1;
    color: rgb(11, 202, 40);
    border: 2px solid rgb(11, 202, 40);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(11, 202, 40);
}

/* resume section styling */
.resume .content {
  width: 80%;                        
  margin: 0 auto;             
  padding: 40px 0;      

  display: flex;
  flex-direction: column;        
  align-items: center;      
  gap: 40px;                  

  font-family: 'Poppins', sans-serif;
}

.resume .pdf-container {
  width: 100%;  
  max-width: 1100px;                
  aspect-ratio: 8.5 / 11;
  overflow: hidden;              
  border-radius: 8px;        
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5); 
}

.resume .pdf-container iframe {
  width: 100%;
  height: 100%;
  border: none;                
}
.resume .buttons {
  display: flex;
  justify-content: center;      
}

.resume .buttons button {
  padding: 8px 16px;         
  margin-top: 16px;       

  background: rgb(11, 202, 40);  
  color: #fff;                

  font-size: 1.2rem;         
  font-weight: 700;

  border: 2px solid transparent; 
  border-radius: 4px;

  transition: all 0.4s ease;  
}

.resume .buttons button:hover {
  background: transparent;
  color: rgb(11, 202, 40);
  border-color: rgb(11, 202, 40);
  box-shadow: 0 0 20px rgb(11, 202, 40);
  transform: scale(1.05);
}
section .content{
    width: 100%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(11, 202, 40);
    bottom: 0;
    left: 0;
}
section .title span::after{
    width: 70%;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}


section .topic{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

section .buttons{
    margin-top: 16px 0;
}

section .buttons button{
    width:auto;               
    height:auto;
    padding: 8px 16px;
    background: rgb(11, 202, 40);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .buttons button:hover{
    border-color: rgb(11, 202, 40);
    scale: 1.1;
    color: rgb(11, 202, 40);
    border: 2px solid rgb(11, 202, 40);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(11, 202, 40);
}

/* projects styling */
.projects .project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project-list .project-item{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}
.projects .project-list .project-item:hover{
    background: rgb(11, 202, 40);
    color: white;
    transform: translateY(-10px);
}
.projects .project-list .project-item .icon{
    height: 50px;
    width: 50px;
    background: rgb(11, 202, 40);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.project-list .project-item:hover .icon{
    transform: scale(1.2);
    background-color: white;
    color: rgb(11, 202, 40);
}
.projects .project-list .project-item:hover .topic,
.projects .project-list .project-item:hover p{
    color: white
}

/* contact styling */
.contact{
    background: black;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}

/*footer styling*/
footer{
    background: rgb(11, 202, 40);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
footer .text span a{
    color: white;
    font-weight: 500;
}
footer .text span a:hover{
    text-decoration: underline;
}
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: rgb(11, 202, 40);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}

@media (max-width: 1150px) {
  /*home*/
  section .main-container {
    flex-direction: column;
    display:flex;
    padding-left: 0;       
    align-items: center;      
    gap: 20px;                
  }
  .main-container .image {
    width: 600px;              
    height: 65vh;              
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;          
    box-shadow: 0 0 30px rgb(11,202,40);
  }
  .main-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0; left: 0;         
    position: static;        
  }
  .main-container .content {
    width: 90%;               
    text-align: center;
  }
    /*resume*/
    .resume .buttons{
        display: flex;
        justify-content: center;
    }
   .resume .pdf-container {
        width: 90%;  
        max-width: 1000px;                
        aspect-ratio: 8.5 / 11;
        overflow: hidden;              
        border-radius: 8px;        
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5); 
    }
    /*projects*/
    .projects .project-list .project-item{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}
@media (max-width: 968px) {
    nav .logo{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 3rem;
    }
    section .main-container{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }

    .hamburg{
      opacity:1;            
      pointer-events:auto;
    }
    .cancel{
      opacity:0;          
      pointer-events:none;
    }
    .main-container .content{
        margin-top: 20px;
        width: 80%;
    }
    .social-links{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        z-index:-1;
        width: 50%;
        height: 60vw;
    }
    .projects .project-list .project-item{
        width: 100%;
        margin: 20px 0;
    }
    .contact .text{
        width: 100%;
    }
}
@media (max-width: 900px) {
    .resume .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 500px) {
    .main-container .image{
        width: 60vw;
        height: 60vw;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .resume button{
        margin-top: 15px;
    }
}
