@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
    font-size: 90%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    margin-top: 1vh;
}

/* Custom scroll bar css */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(11, 202, 40);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 202, 40);
    box-shadow: 0 0 10px rgba(11, 202, 40);
}

/*navbar styling*/
nav{
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px) brightness(40%);
    box-shadow: 0 0 20px black;
    -webkit-backdrop-filter: blur(12px);
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.logo span{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 20px rgb(11, 202, 40);
}
.hamburg{
    position: absolute;
    color: white;
    right: 30px;
    top: 23px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    font-size:clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
.cancel{
    position: absolute;
    color: white;
    right: 30px;
    top: -6vh;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    font-size:clamp(2rem, 0.5rem + 5vw, 3rem);
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    display: inline-block;
    z-index: 0; 
    color: white;
    font-size: 2rem;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 12px;
    transition:
      color .3s ease,
      transform .3s ease; 
}

.nav-container .links a::before{
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 3px;
    background: rgb(11, 202, 40);
    bottom: -3px;
    /* transition: 0.2s linear; */
    transition: width .3s linear;
    z-index: 1;
}
.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a::after{
  content: '';
  position: absolute;
  inset: 0;                   
  border-radius: 12px;
  background: rgba(255,255,255,.08);  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;                   
  transition: opacity .3s ease;
  pointer-events: none;       
  z-index: -1;  
}

.nav-container .links a:hover{
  color: rgb(11,202,40);     
  transform: scale(1.1);       
}
.nav-container .links a:hover::after{
  opacity: 1;                  
}

/* .dropdown{
  position: absolute;
  top: 20px;            
  right: 15px;         
  width: 240px;       
  transform: translateY(-120%);  
  background: rgba(0, 0, 0, 0.7);

  -webkit-backdrop-filter: blur(20px) brightness(20%);
  backdrop-filter: blur(20px) brightness(20%);

  border-radius: 12px;
  transition: all 0.25s ease;
} */
 .dropdown{
    position: absolute;
    top: 9vh;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;
 }

.dropdown.active {
  transform: translateY(0);
}

.dropdown .links{
  display: flex;
  flex-direction: column;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 14px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    /* background-color: rgb(11, 202, 40); */
    color: rgb(11, 202, 40);
    border: rgb(11, 202, 40);
    scale: 1.1;

    border: 2px solid rgb(11, 202, 40);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(11, 202, 40);
    transition: all 0.2s ease-in-out;
}

section{
    padding: 10rem 7% 2rem;
    width: 100%;
    /* min-height: 90vh; */
    scroll-margin-top: -9vh;
}

section .main-container{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    align-items: center;
    gap: 5rem;

}
.main-container .image{
    /* width: 600px; */
    width: min(600px, 80vw);
    aspect-ratio: 1 / 1.1;
    /* height: 65vh; */
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(11, 202, 40);
}

.main-container .image img {
    width: 100%;     
    height: 100%;
    object-fit: cover; 
}


.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.main-container .content{
    width: 40%;
    color: white;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 10px rgb(11, 202, 40);
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text{
    color: rgb(11, 202, 40);
    text-shadow: 0 0 10px rgb(11, 202, 40);
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(11, 202, 40);
    border-radius: 50%;
    color: rgb(11, 202, 40);
    margin: 40px 30px 15px 0;
    font-size: 1.5rem;
    /* transition: 0.2s linear; */
    transition: 
    background-color 0.3s ease, 
    transform 0.3s ease, 
    color 0.3s ease;

}

.social-links:hover {
  background-color: rgb(11, 202, 40);  
  transform: scale(1.1);              
  color: black;                       
}
.social-links i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links:hover i {
  transform: scale(1.2);
}

.content .buttons{
    display: flex;
    justify-content: flex-start;
}
.content button{
    width: 50%;
    height: 5vh;
    margin: 22px;
    background-color: rgb(11, 202, 40);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s;
}

.content button:hover{
    scale: 1.1;
    color: rgb(11, 202, 40);
    border: 2px solid rgb(11, 202, 40);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(11, 202, 40);
}


/* resume section styling */
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    gap: 5rem;
    /* align-items: start;
    padding: 0 6rem; */
}

.resume-box h2{
    font-size: 4.5rem;
    margin-bottom: 4rem;
    color: rgb(11, 202, 40);
}
.reume-box p{
    padding-left: 7rem;
}
.resume-box .desc{
    max-width: 100%;
    font-size: 1.3rem;
    margin: 1rem 1rem 3rem;
    color: white;

}

.resume-box .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 2rem;             
  margin-top: 4rem;     
}

.resume-box .resume-btn{
    width: 70%;
    height: 5rem;
    background: rgb(11, 202, 40);
    border: .2rem solid rgb(11, 202, 40);
    font-size:1.6rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.resume-box .resume-btn.active{
    background: black;
    scale: 1.15;
    transition: all 0.4s ease;
}
.resume-detail{
    display: none;
}
.resume-detail.active{
    display: block;
}
.resume-box .heading{
    font-size: 3.5rem;
    text-align: left;
}
/* .resume-list{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    height: 45rem;
    overflow: auto;
    color: white;
} */
.resume-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;              
  color: white;
  overflow: auto;
  height: 41rem;
}

.resume-list::-webkit-scrollbar{
    width: .8rem;
}

.resume-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}

.resume-list::-webkit-scrollbar-track {
  background: transparent;    
}

.resume-list:hover::-webkit-scrollbar-thumb{
    background: rgb(11, 202, 40);
}

.resume-list .resume-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    width: 100%;
    border: rgb(11, 202, 40) solid 0.1rem;
    border-radius: .8rem;
    margin: 0 auto;
    padding: 2.5rem 1.5rem;
    box-sizing: border-box;
    transition: all 0.4s ease;
}
.resume-item .year{
    color: rgb(11, 202, 40);
}
.resume-item h3{
    font-size: 2.2rem;
}
.resume-item .company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resume-item .place,
.resume-item .name{
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 0.2rem;
}
.resume-item .name::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: rgb(11, 202, 40);
    border-radius: 50%;
    margin-left: -1.5rem;
}
.resume-item .resume-content{
    position: relative;
    margin-left: 1rem;
    font-size: 0.97rem; 
    line-height: 1.7;
}
.resume-item .resume-content::before{
    content: '';
    position: absolute;
    left: 0;                  
    top: .6em;                  
    width: .45rem;
    height: .45rem;
    background: white; 
    border-radius: 50%;
    margin-left: -0.9rem;
}
.resume-detail.skills .resume-list{
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    position: relative;
    /* align-items: center; */
    height: auto;
}

/* portfolio styling */
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.portfolio-detail{
    display: none;
}
.portfolio-detail.active{
    display: block;
}
.portfolio-box .numb{
    font-size: 8rem;
    -webkit-text-stroke: .14rem rgb(11, 202, 40);
    color: transparent;
    line-height: 1;

}
.portfolio-box h3{
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
    color: white;
    -webkit-text-stroke: .07rem rgb(11, 202, 40);
}
.portfolio-box p{
    font-size: 1.6rem;
    color: white;
}
.portfolio-box .tech{
    margin: 2rem 0;
    color: rgb(11, 202, 40);
    border-bottom: .1rem solid white;
    padding-bottom: 2rem;
}
.portfolio-box .github a{
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: white;
    border-radius: 50%;
    background: black;
    transition: all .2s ease;
}
.portfolio-box .github a:hover{
    color: rgb(11, 202, 40);
}

.portfolio-box .github a span{
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: white;
    color: black;
    opacity: 0;
    transition: .2s ease;
}
.portfolio-box .github a:hover span{
    opacity: 1;
    top: -70%;
    scale: 1;
    transform: translateX(-50%) scale(1);
}
/* .portfolio-box .portforile-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
} */

.portfolio-box .portforile-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
}

.portforile-carousel .img-slide{
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 40vw; */
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: all 0.5s ease;
}
.portforile-carousel .img-item{
    height: inherit;
}
.portforile-carousel .img-item img{
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 1rem;
}
.portfolio-box .navigation{
    display: flex;
    text-align: right;
    margin-top: 2rem;
}

.portfolio-box .navigation .buttons{
    display: flex;              
}

.portfolio-box .navigation button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: rgb(11, 202, 40);
    color: white;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}
.portfolio-box .navigation button.disabled{
    background: rgb(4, 110, 20);
    color: black;
}
.portfolio-box .navigation .arrow-right{
    margin-left: 2rem;
}

section .content{
    width: 100%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(11, 202, 40);
    bottom: 0;
    left: 0;
}
section .title span::after{
    width: 70%;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}


section .topic{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

section .buttons{
    margin-top: 16px 0;
}

section .buttons button{
    width:auto;               
    height:auto;
    padding: 8px 16px;
    background: rgb(11, 202, 40);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .buttons button:hover{
    border-color: rgb(11, 202, 40);
    scale: 1.1;
    color: rgb(11, 202, 40);
    border: 2px solid rgb(11, 202, 40);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(11, 202, 40);
}

/* projects styling */
.projects .project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project-list .project-item{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}
.projects .project-list .project-item:hover{
    background: rgb(11, 202, 40);
    color: white;
    transform: translateY(-10px);
}
.projects .project-list .project-item .icon{
    height: 50px;
    width: 50px;
    background: rgb(11, 202, 40);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.project-list .project-item:hover .icon{
    transform: scale(1.2);
    background-color: white;
    color: rgb(11, 202, 40);
}
.projects .project-list .project-item:hover .topic,
.projects .project-list .project-item:hover p{
    color: white
}

/* contact styling */
.contact-container{
    padding: 0 1.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
}
.contact-container .contact-box:first-child{
    align-self: center;
}
.contact-box h2{
    font-size: 4.5rem;
    color: rgb(11, 202, 40);
    margin-bottom: 2rem;
}
.contact-box p{
    font-size: 1.6rem;
    color: white;
}
.contact-box .contact-detail{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.contact-detail i {
    display: inline-flex;
    background: rgb(11,202,40);
    color: white;
    font-size: 3rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}
.contact-detail .detail p:first-child{
    color: rgb(11, 202, 40);
}
.contact-box form{
    background: black; 
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem 2rem 1rem;
    border-radius: 3rem;
    text-align: center;
}
.contact-box .heading{
    font-size: 3.5rem;
}
.contact-box .field-box{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(auto-fit,minmax(min(240px,100%),1fr)); */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea{
    padding: 1rem;
    background: black;
    border: .2rem solid white;
    outline: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: rgb(11, 202, 40);
}
.contact-box .field-box textarea{
    grid-column: 1 / -1;
    height: 26rem;
    resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
    border-color: rgb(11, 202, 40);
}

.contact-box .buttons{
    margin-top: 1rem;
    cursor: pointer;
}

/*footer styling*/
footer{
    background: rgb(11, 202, 40);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
footer .text span a{
    color: white;
    font-weight: 500;
}
footer .text span a:hover{
    text-decoration: underline;
}
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: rgb(11, 202, 40);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}

@media (max-width: 1200px) {
    /* html{
        font-size: 50%;
    } */

    /* home */
    section .main-container {
        flex-direction: column;
        display:flex;
        padding-left: 0;       
        gap: 20px;                
    }
  .main-container .image {
    width: min(600px, 80vw);             
    aspect-ratio: 1 / 1.1;        
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;          
    box-shadow: 0 0 30px rgb(11,202,40);
  }
  .main-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0; left: 0;         
    position: static;        
  }
  .main-container .content {
    width: 90%;               
    /* text-align: center; */
  }
  .content .buttons{
    display: flex;
    justify-content: center;
  }
  
    /*projects*/
    .projects .project-list .project-item{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
    /* portfolio */
    .resume-container,
    .contact-box .field-box,
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .resume-container{
        gap: 3rem;
    }
    .portfolio-container .portfolio-box:first-child{
        order:1;
    }
    

}
@media (max-width: 978px) {
    section{
        padding: 4rem 7% 4rem;
        scroll-margin-top: 3vh;
    }
    
    /* contact part */
    .contact-container{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1.5rem;
        padding: 0 1rem;
    }
    .contact-box .field-box{
        grid-template-columns: repeat(2, 1fr);
    }

    nav .logo{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 3rem;
    }
    section .main-container{
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }
    .hamburg{
      opacity:1;            
      pointer-events:auto;
    }
    .cancel{
      opacity:0;          
      pointer-events:none;
    }
    section .main-container{
        padding-top: 4rem;
    }
    .main-container .content{
        margin-top: 50px;
        width: 80%;
    }
    .social-links{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        width: 70%;
        aspect-ratio: 1 / 1.1;
    }
    .projects .project-list .project-item{
        width: 100%;
        margin: 20px 0;
    }
}
@media (max-width: 900px) {
    .resume .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 672px){
    /* .social-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
    /* contact */
    .contact-box p{
        font-size: 1.2rem;
    }
    .contact-detail i{
        font-size: 1.9rem;
    }
    .contact-container{
       display: flex;          
       flex-direction: column;
       align-items: stretch;    
       gap: 2rem;
       padding: 0 1rem;           
       overflow-x: hidden;        
    }
    .contact-container .contact-box form {
       width: 100%;
       max-width: 400px;
       margin: 0 auto;
       box-sizing: border-box;
       padding: 2rem 2rem 2rem;
    }
    .contact-box .field-box{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .contact-box .field-box input,
    .contact-box .field-box textarea{
       width: 100%;
       max-width: 100%;
    }
    .contact-box h2{
        font-size: 3.5rem;
    }
    .contact-box .heading{
        font-size: 2.5rem;
    }
}
@media (max-width: 500px) {
    .main-container .image{
        width: 60vw;
        height: 60vw;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .resume button{
        margin-top: 15px;
    }

    .contact-box form{
        max-width: 400px;
        margin: 0 auto;
    }

}
